@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poetsen+One&display=swap');


:root {
    --rouge: #FF0000
}


strong {
    cursor: pointer;
    color: #FF0000;
}


body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; 
    margin: 0;
}

header {
    background: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 30px 5% 0 5%;
}

header nav h1 {
    margin: 0;
    text-transform: uppercase;
    color:#FF0000

}

header nav .right {
    display: flex;
    align-items: center;
}

header nav .right p {
    margin: 0 7% 0 0;
}

header nav .right p:hover {
    color: #FF0000;
}

.hd{
    background-color: inherit;
    border: 1px solid var(--rouge);
    color: var(--rouge);
    transition: blackground-color 0.5s, color 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--rouge);
    color: white;
}

a {
    color: white;
    padding: 15px;
    
}

.presentation {
    padding: 30px 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;

}

.presentation .info-presentation {
    width: 100%;
    flex-shrink: 3;
}

.presentation .info-presentation h1 {
    margin: 0%;
    font-size: 4vw;
    width: 80%;
}

.presentation .info-presentation p {
    font-weight: 300;
}

.presentation .image-presentation img {
    width: 100%;
}

.third {
    margin: 0;
    background-color: gray;
    color: white;
}

.third .info-presentation button {
    background-color: var(--rouge);
    border: 1px solid var(--rouge);
    color: white;
    transition: background-color 0.5s;
}

.third .info-presentation button:hover {
    background-color: inherit;
    border: 1px solid var(--rouge);
    color: #FF0000;
}




@media screen and (max-width: 768px) {
    .presentation .info-presentation h1 {
        font-size: 6vw; /* Taille de la police ajustée pour les petits écrans */
    }
    .image-presentation {
        display: none;
    }
    .images-presentation {
        display: none;
    }
    .seconde .info-presentation button {
        background-color: var(--rouge);
        color:white;
        transition: blackground-color 0.5s, color 0.5s;
        border:1px solid var(--rouge);
    }
    .seconde .info-presentation button:hover {
        background-color: var(--rouge);
        color: white;
    
    }
    .first .info-presentation button {
        background-color: var(--rouge);
        border: 1px solid var(--rouge);
        color: white;
        transition: background-color 0.5s;
    }
    
    .first .info-presentation button:hover {
        background-color: inherit;
        border: 1px solid var(--rouge);
        color: #FF0000;
    }
    .third .info-presentation button {
        background-color: var(--rouge);
        border: 1px solid var(--rouge);
        color: white;
        transition: background-color 0.5s;
    }
    
    .third .info-presentation button:hover {
        background-color: inherit;
        border: 1px solid var(--rouge);
        color: #FF0000;
    }
    .fouth .info-presentation button {
        background-color: var(--rouge);
        color: white;
        transition: blackground-color 0.5s, color 0.5s;
        border:1px solid var(--rouge);
    }
    
    .fouth .info-presentation button:hover {
        background-color: var(--rouge);
        color: white;
    }
    a {
        color: white;
        padding: 6px;
        
    }

}





























