@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poetsen+One&display=swap');


:root {
    --rouge: #FF0000
}


body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; 
    margin: 0;
    background-image:url('dc5e0dd3460720df77a6739557fdb772.jpg');
        background-position: center; /* Centre l'image horizontalement et verticalement */
        background-repeat:no-repeat; /* Empêche la répétition de l'image */
        background-size:cover;
        background-size: contain; /* Ajuste la taille de l'image pour contenir toute la page */
        background-attachment: fixed; /* Fixe l'image en arrière-plan */
        background-color : black;
        



}

header {
    background:inherit;
    color: white;
    cursor: pointer;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 30px 5% 0 5%;
}

header nav h1 {
    margin: 0;
    text-transform: uppercase;
    color:#FF0000

}

header nav .right {
    display: flex;
    align-items: center;
}

header nav .right p {
    margin: 0 7% 0 0;
}

header nav .right p:hover {
    color: #FF0000;
}

.Evets {
    color: black;
}

.presentation {
    padding: 30px 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;

}

.presentation .info-presentation {
    width: 100%;
    flex-shrink: 3;
}

.presentation .info-presentation h1 {
    margin: 0%;
    font-size: 4vw;
    width: 80%;
}

.presentation .info-presentation p {
    font-weight: 300;
}

.presentation .info-presentation button {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.first .info-presentation button {
    background-color: var(--rouge);
    border: 1px solid var(--rouge);
    color: white;
    transition: background-color 0.5s;
}

.first .info-presentation button:hover {
    background-color: inherit;
    border: 1px solid var(--rouge);
    color: #FF0000;
}

.presentation .image-presentation img {
    width: 100%;
}

.seconde {
    margin: 0;
    background-color: rgb(87, 0, 0);
    color: white;
}

.seconde .info-presentation button {
    background-color: inherit;
    color: var(--rouge);
    transition: blackground-color 0.5s, color 0.5s;
    border:1px solid var(--rouge);
}

.seconde .info-presentation button:hover {
    background-color: var(--rouge);
    color: white;

}

.third {
    margin: 0;
    background-color: gray;
    color: white;
}

.third .info-presentation button {
    background-color: var(--rouge);
    border: 1px solid var(--rouge);
    color: white;
    transition: background-color 0.5s;
}

.third .info-presentation button:hover {
    background-color: inherit;
    border: 1px solid var(--rouge);
    color: #FF0000;
}

.fouth {
    margin: 0;
    background-color: rgb(87, 0, 0);
    color: white;
}

.fouth .info-presentation button {
    background-color: inherit;
    color: var(--rouge);
    transition: blackground-color 0.5s, color 0.5s;
    border:1px solid var(--rouge);
}

.fouth .info-presentation button:hover {
    background-color: var(--rouge);
    color: white;
}

a {
    color: white;
    padding: 15px;
    
}

.hd{
    background-color: inherit;
    border: 1px solid var(--rouge);
    color: var(--rouge);
    transition: blackground-color 0.5s, color 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

.main {
    background-color: rgba(255, 255, 255, 0.753);
    padding: 1em;
    padding-bottom: 1.1em;
    border-radius: 15px;
    margin: 1em;

  }
  
  .loader {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;
  }
  
  .loader:hover {
    cursor: pointer;
    background-color: white;
  }
  
  .currentplaying {
    display: flex;
    margin: 1em;
  }
  
  
  .heading {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
  }
  
  .loading {
    display: flex;
    margin-top: 1em;
    margin-left: 0.3em;
  }
  
  .load {
    width: 2px;
    height: 33px;
    background-color: red;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
  }
  
  .load:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .load:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .load:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .play {
    position: relative;
    left: 0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: black;
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    justify-self: center;
  }
  
  .albumcover {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color:rgba(255, 7, 7, 0.562);
    align-self: center;
    border-radius: 5px;
  }
  
  .song {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: black;
    align-self: center;
  }
  
  .artist {
    font-size: 0.6em;
  }

  .lire {
    display: none;
  }
  
  @keyframes move6 {
    0% {
      height: 0.2em;
    }
  
    25% {
      height: 0.7em;
    }
  
    50% {
      height: 1.5em;
    }
  
    100% {
      height: 0.2em;
    }
  }

button:hover {
    background-color: var(--rouge);
    color: white;
}

footer {
    background-color: white;
    color: black;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

footer h3 {
    color: var(--rouge);
}

footer p {
    cursor: pointer;
}

footer p:hover {
    color: #FF0000;
}

/* Media query pour les petits écrans */
@media screen and (max-width: 768px) {
    .presentation .info-presentation h1 {
        font-size: 6vw; /* Taille de la police ajustée pour les petits écrans */
    }
    .image-presentation {
        display: none;
    }
    .images-presentation {
        display: none;
    }
    .seconde .info-presentation button {
        background-color: var(--rouge);
        color:white;
        transition: blackground-color 0.5s, color 0.5s;
        border:1px solid var(--rouge);
    }
    .seconde .info-presentation button:hover {
        background-color: var(--rouge);
        color: white;
    
    }
    .first .info-presentation button {
        background-color: var(--rouge);
        border: 1px solid var(--rouge);
        color: white;
        transition: background-color 0.5s;
    }
    
    .first .info-presentation button:hover {
        background-color: inherit;
        border: 1px solid var(--rouge);
        color: #FF0000;
    }
    .third .info-presentation button {
        background-color: var(--rouge);
        border: 1px solid var(--rouge);
        color: white;
        transition: background-color 0.5s;
    }
    
    .third .info-presentation button:hover {
        background-color: inherit;
        border: 1px solid var(--rouge);
        color: #FF0000;
    }
    .fouth .info-presentation button {
        background-color: var(--rouge);
        color: white;
        transition: blackground-color 0.5s, color 0.5s;
        border:1px solid var(--rouge);
    }
    
    .fouth .info-presentation button:hover {
        background-color: var(--rouge);
        color: white;
    }
    a {
        color: white;
        padding: 6px;
        
    }

}
@media only screen and (max-width: 600px) {
    body {
        background-size: contain; /* Ajuste la taille de l'image pour contenir toute la page */
        background-attachment: fixed; /* Fixe l'image en arrière-plan */
        background-image:url('7995b5ef8973e563e44692e2cede287e.jpg');
        background-position: center; /* Centre l'image horizontalement et verticalement */
        background-repeat: no-repeat; /* Empêche la répétition de l'image */
        background-size: cover;
    }

    header {
        background-color: inherit;
    }

    .main {
        background-color: rgba(255, 255, 255, 0.671);
    }

    .loader:hover {
        cursor: pointer;
        background-color: white;
      }
}

